.vscode/settings.json
__pycache__/page_1_layout.cpython-310.pyc
__pycache__/page_2_layout.cpython-310.pyc
__pycache__/page_3_layout.cpython-310.pyc
layouts/page_1/__pycache__/callbacks.cpython-310.pyc
layouts/page_1/__pycache__/layout.cpython-310.pyc
layouts/page_2/__pycache__/layout.cpython-310.pyc
layouts/page_3/__pycache__/layout.cpython-310.pyc
